<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pixeldroid.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".utils.PixelDroidApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".posts.AlbumActivity"
            android:exported="false"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
        <activity
            android:name=".postCreation.photoEdit.VideoEditActivity"
            android:exported="false"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>

        <activity
            android:name=".posts.MediaViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".postCreation.camera.CameraActivity" />
        <activity
            android:name=".posts.ReportActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".postCreation.photoEdit.PhotoEditActivity" />
        <activity
            android:name=".postCreation.PostCreationActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.FollowsActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".posts.feeds.uncachedFeeds.hashtags.HashTagActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".posts.PostActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings2"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="org.pixeldroid.app.searchDiscover.SearchActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="@string/auth_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".searchDiscover.SearchActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".settings.AboutActivity"
            android:parentActivityName=".settings.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.LicenseActivity"
            android:parentActivityName=".settings.AboutActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>